
.km-view .km-navbar
{
	font-family: 'Apple symbols';
	color: rgba(0, 0, 0, .7);
	text-shadow: 0px 0px 0px;
}

.km-view .km-content
{
    background-image: url(images/sfondo.png);
    
    background-color: rgb(108, 160, 194);
    
	background-position: 0% 0%;
	background-size: 100% auto; 
    
	font-family: 'Apple symbols';
	color: rgba(0, 0, 0, .7); 
	text-shadow: 0px 0px 0px;
}


.km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgba(255, 255, 255, .9);
}


.km-view .km-content .km-group-title
{
	color: rgba(0, 0, 0, .7);
	text-shadow: 0px 0px 0px;
}

.km-listview .km-list > li
{
	background: rgba(255, 255, 255, .66);
	color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333;
}

.km-view .km-navbar
{
	background-image: -webkit-gradient(linear, 50% rgba(0, 0 0 0.2), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .5)), color-stop(1, rgba(0, 0, 0, .8)));
	background-image: -moz-linear-gradient(rgba(0, 0 0 0.2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .8));
	background-repeat: repeat;
	background-position: 0 0;
	background-color: rgb(0, 0, 0);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.km-view .km-navbar .km-button
{
	background-image: -webkit-gradient(linear, 50% rgba(0, 0 0 0.2), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .5)), color-stop(1, rgba(0, 0, 0, .8)));
	background-image: -moz-linear-gradient(rgba(0, 0 0 0.2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .8));
	background-repeat: repeat;
	background-position: 0 0;
	background-color: rgb(0, 0, 0);
}


#search .km-content{
    background-image: -webkit-gradient(linear, 50% rgba(0, 0 0 0.2), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .5)), color-stop(1, rgba(0, 0, 0, .8)));
	background-image: -moz-linear-gradient(rgba(0, 0 0 0.2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .8));
	background-repeat: repeat;
	background-position: 0 0;
	background-color: rgb(0, 0, 0);
}

#input_search_word
{
    width:94%; 
    height: 40px; 
    margin: 8px 3% 8px 3%; 
    padding-left:10px; 
    padding-right:10px;
	
    border: 1px solid black;
}

/* Application style */

#map-view .km-content,
#map-view .km-scroll-container,
#map-view #map {
    display: -webkit-box;
    width: 100%;
}



.item-photo
{
	width: 3em;
	height: 3em;
	float: left;
	margin: .5em 0;
	-webkit-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.item-title
{
	float: left;
	font-size: 1em;
	line-height: 1.4em;
	margin: .3em 1em 0 .6em;
	width: 50%;
}

.item-info
{
	float: left;
	font-size: .5em;
	line-height: 1em;
	margin: 0 0 0 .95em;
	width: 45%;
}

.item-desc
{
	float: left;
	font-size: .7em;
	line-height: 1em;
	margin: 0 0 0 .95em;
	width: 45%;
}

.item-link
{
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 50%;
}

.advertise
{
	background: rgba(64, 124, 71, .8);
	height: 3em;
}


.buttons .km-button
{
     width: 99.5%;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
    font-size: 1.2em;
    
}



#search .search-header{
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
}




.cinema {
    background: url(images/cinema.png) no-repeat center center;
}

.eventi {
    background: url(images/eventi.png) no-repeat center center;
}

.mostre {
    background: url(images/mostre.png) no-repeat center center;
}

.musica {
    background: url(images/musica.png) no-repeat center center;
}

.sagre {
    background: url(images/sagre.png) no-repeat center center;
}

.spettacolo {
    background: url(images/spettacolo.png) no-repeat center center;
}

.sport {
    background: url(images/sport.png) no-repeat center center;
}

.teatro {
    background: url(images/teatro.png) no-repeat center center;
}

.mercatino {
    background: url(images/mercatino.png) no-repeat center center;
}